/* 通用样式 start */
html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    color: #eee;
    font-family: sans-serif;
    font-size: 10pt;
    -webkit-overflow-scrolling: touch;
}
label.label-block { /* 宽度为100%的label */
    width: 100%;
}
.text-center { /* 文字居中 */
    text-align: center;
}
.param-item-first-level { /* 第一层子项 */
    margin: 0 0 0 1rem;
    width: auto;
}
.param-item-second-level { /* 第二层子项 */
    display: inline-block;
    margin: 0 0 0 2.5rem;
    width: auto;
}
label > input, label > span{ /* 用于控制复选框与文字垂直方向上对齐 2-1 start */
    display: inline-block;
    vertical-align: middle;
}
label > input{ /* 用于控制复选框与文字垂直方向上对齐 2-2 start */
    margin-right: 0.5rem;
}
/* 通用样式 end */

/********************* 场景属性相关 start *********************/
/* 场景属性通用 start */
#sceneForm .square{
    margin-left: 1%;
    width: 48%;
    height: 40px;
    display: inline-block;
}
.scene-attribute-sub-module { /* 用于间隔上下两个参数设置部分 */
    margin: 0.3rem;
}
/* 场景属性通用 end */

/* 用于场景属性中当前显示的模块 start */
.tabs-vertical > .tabs-content-placeholder > .tabs-content-item { /* 非当前属性设置模块不可见 */
    display: none;
}
.tabs-vertical > .tabs-content-placeholder > .tabs-content-active{ /* 当前属性设置模块可见 */
    display: block;
}
.tabs-vertical ul li a.tab-active { /* 激活状态下的导航菜单项 */
    border-right: 2px solid #298b7b;
    background-color: rgba(38, 38, 38, 0);
    color: #298b7b;
}
/* 用于场景属性中当前显示的模块 end */

/* 左侧的导航菜单 start */
ul.tabs-menu {
    border-right: 1px solid #6b7072;
    float: left;
    list-style: none;
    text-align: center;
    width: 20%;
    margin: 0;
    padding-left: 0;
}
ul.tabs-menu > li {
    margin-right: -2px;
}
ul.tabs-menu > li > a {
    display: block;
    text-decoration: none;
    color: darkgrey;
    padding: 16px 10px 16px 5px;
    font-size: 12px;
}
ul.tabs-menu > li > a:hover {
    background-color: rgba(38, 38, 38, 0);
    color: #fff;
}
ul.tabs-menu > li:first-child a{
    border-top: 0;
}
/* 左侧的导航菜单 end */

/* 场景属性-卷帘 start */
.roller-param-item, .roller-param-sub-item {
     margin: 0.1rem 0;
     display:block;
 }
/* 场景属性-卷帘 end */
/********************* 场景属性相关 end *********************/


