// 设置背景
@mixin setBackground($width: 0rem, $height: 0rem, $url) {
    width: $width;
    height: $height;
    background: url($url) no-repeat;
    background-size: cover;
    cursor: pointer;
}

// flex居中
@mixin flexLayout($pistion: space-between) {
    display: flex;
    justify-content: $pistion;
    align-items: center;
}

// 设置icon的样式
@mixin setIconstyle($fontSize: .12rem) {
    color: rgba(255, 255, 255, 0.85);
    font-size: $fontSize;
}

// 设置面板位置
@mixin setPanelPosition($top: 10%, $left: 10%, $right: 10%) {
    position: fixed;
    z-index: 2;
    left: $left;
    top: $top;
    right: $right;
}

// 设置头部标题
@mixin setPanelTitle() {
    box-sizing: border-box;

    .panle-header {
        // height: 0.3rem;
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-top: 0.16rem;

        .panle-title {
            color: #cae6ff;
            font-weight: bold;
            font-size: .16rem;
            margin-left: 0.1rem;
        }

        // 关闭按钮位置
        .panel-close {
            font-size: 0.16rem;
            color: rgba(255, 255, 255, 0.85);
            margin-top: .1rem;
            cursor: pointer;
        }
    }
}

// 设置底部按钮margn指
@mixin setBtnRowItem($marginLeft: .95rem) {
    // margin-left: $marginLeft;
    margin-left: $marginLeft;

    .ans-btn {
        margin-right: .2rem;
    }
}

// 去除滚动条
@mixin setsSrollbar {

    /* 移除滚动条 */
    &::-webkit-scrollbar {
        background: none;
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background: none;
        display: none;
    }
}

// 符号集
@mixin iconContainer($marginLeft: 0rem, $width: 1.96rem, $marginbottom: 0rem, $height: 0.32rem) {
    .name {
        width: 1rem;
    }

    .icon-container {
        width: $width;
        height: $height;
        background: rgba(255, 255, 255, 0.04);
        margin-left: $marginLeft;
        margin-bottom: $marginbottom;

        .icon-size {
            font-size: 0.23rem;
        }

        .icon-list {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            padding: 0 0.1rem;
            box-sizing: border-box;
            border: 0.01rem solid rgba(255, 255, 255, 0.15);
            border-radius: 0.04rem;

            .icon-span {
                display: flex;
                align-items: center;
            }
        }

        .selected-icon {
            border: 1px solid #3499e5;
            // background: #3499E5;
        }
    }
}