// 设置背景
@mixin setBackground($width: 0rem, $height: 0rem, $url) {
    width: $width;
    height: $height;
    background: url($url) no-repeat;
    background-size: cover;
    cursor: pointer;
}

// flex居中
@mixin flexLayout($pistion: space-between) {
    display: flex;
    justify-content: $pistion;
    align-items: center;
}

// 设置icon的样式
@mixin setIconstyle($fontSize: .12rem) {
    color: rgba(255, 255, 255, 0.85);
    font-size: $fontSize;
}

// 设置头部标题
@mixin setPanelTitle() {
    box-sizing: border-box;

    .panle-header {
        // height: 0.3rem;
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-top: 0.16rem;

        .panle-title {
            color: #cae6ff;
            font-weight: bold;
            font-size: .16rem;
            margin-left: 0.1rem;
        }

        // 关闭按钮位置
        .panel-close {
            font-size: 0.16rem;
            color: rgba(255, 255, 255, 0.85);
            margin-top: .1rem;
            cursor: pointer;
        }
    }
}

// 去除滚动条
@mixin setsSrollbar {
    /* 移除滚动条 */
    &::-webkit-scrollbar {
        background: none;
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background: none;
        display: none;
    }
}