@import "../../../common/scss/globe.scss";

.sm-sightline-panel {
  @extend .sm-panel;
  max-width: 365px;
}

.sm-sightline-toggle-btn {
  @extend .sm-toggle-btn;
}

.sm-sightline-toggle-btn-only {
  @extend .sm-toggle-btn-only;
}

.sm-sightline-content {
  @extend .sm-content;
}

.sm-sightline-content-hidden {
  @extend .sm-content-hidden;
}

.sm-sightline-panel-header {
  @extend .sm-panel-header;
}

.sm-row {
  margin: 15px 0;
  overflow: hidden;
}

.sm-sightline-btn {
  @extend .sm-btn;
  padding: 2px 6px;
  margin: 10px 2px 0px 2px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: darkgrey;
  border: 1px solid #686363;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0px;
  background-color: rgba(38, 38, 38, 0.75);
  float: right;

  // white-space: nowrap;
  // touch-action: manipulation;
  // background-image: none;
  // font-weight: 400;
  // transition: border .25s linear, color .25s linear, background-color .25s linear;
  // -webkit-font-smoothing: subpixel-antialiased;
  // -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  
}

.sm-sightline-label-right {
  @extend .sm-function-module-sub-section-caption;
  margin-left: 20px;
}


.sm-sightline-input {
  @extend .sm-input-right;
  float: right;
  width: 45%;
}

.sightLine-half{
  width:50%;
  display: inline-block;
  float:left;
  margin-top:5px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  padding:0;
  border:none;
}

.sm-function-module-SightLine{
  margin:0;
  padding:0;
}
