
.sm-input-long,
.sm-select,
.sm-colorpicker {
    width: 55%;
}

.sm-solider-input-box {
    float: right;
    width: 72%;
}

.sm-function-module-sub-section {
    .sm-function-module-sub-section {
        margin-bottom: 0;
    }
}

