.supermap3d-lighter .supermap3d-widget-errorPanel {
    background: rgba(255, 255, 255, 0.7);
}

.supermap3d-lighter .supermap3d-widget-errorPanel-content {
    border: 1px solid #526F82;
    border-radius: 7px;
    background-color: white;
    color: black;
}

.supermap3d-lighter .supermap3d-widget-errorPanel-header {
    color: #B87D00;
}
