.layerBox{
    position: absolute;
    top: 53px;
    left: 8px;
    z-index: 1000;
    background-color: rgba(38, 38, 38, .75);
    display: inline-block;
    width: 280px;
    max-height: 500px;
    max-width: 300px;
    overflow-y: scroll;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
  @media (max-height: 980px) {
    top:53px;
  }
  @media (max-height:700px) {
    top: 43px;
  }
  @media (max-height: 250px) {
    top: 43px;
  }
}
.ivu-select-dropdown {
    min-width: 100px; 
    background-color: rgb(68, 49, 49);
  }

  .layerBox::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

