.sm-function-module-content {
    width: 95%;
    height: 84%;
    margin: 15px;
    box-sizing: border-box;
    padding: 16px 11px;
    background-color: rgb(23, 23, 23);
    @media (max-width: 750px) {
        width: 90%;
      }
}


//   .sm-function-module-sub-section::-webkit-scrollbar {
//     display: none;
//     /* Chrome Safari */
//   }
.sm-function-module-sub-section::-webkit-scrollbar {
    width: 7px;
    height:5px;
  }
  
  .sm-function-module-sub-section::-webkit-scrollbar-thumb {
    background-color:rgba(139, 158, 149, 0.55);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

.sm-function-module-sub-section {
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sm-viewshed-panel-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}


.sm-select {
    float: left;
    margin-left: 6px;
    width: 47.5%;
    @media (max-width: 750px) {
        margin-left: 3px;
      }
}
.imageContainer::-webkit-scrollbar {
    display: none;
}
//pubulic
.imageContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .imageBox {
        flex-grow: 1;
        width: 130px;
        max-width: 140px;
        height: 160px;
        margin: 1%;
        text-align: center;
        background-color: rgba(71, 119, 124, 0.4);
        @media (max-width: 750px) {
            max-width: 132px;
            height: 150px;
        }
        @media (max-width: 500px) {
            max-width: 170px;
            height: 180px;
        }
        @media (max-width: 380px) {
            max-width: 118px;
            height: 130px;
        }
        @media (max-width: 300px) {
            max-width: 100px;
            height: 120px;
        }
        img {
            width: 100%;
            height: 78%;
            padding: 4px;
        }
        label {
            line-height: 1;
        }
        img[lazy=loaded] {
            animation: FadeLazyImg 0.5s;
        }
        @keyframes FadeLazyImg {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}
