
.sm-function-module-content{
  max-height: 528px;
}

.sm-input-long,
.sm-select ,
.sm-colorpicker{
  width: 55%;
}

.sm-solider-input-box{
  float: right;
  width: 72%;
}


.sm-function-module-sub-section{
  .sm-function-module-sub-section{
    margin-bottom: 0;
  }
}

.cameraziti{
  width:30px;
}

.select{
  width: 50%;
  height: 25px;
  color: lightgray;
  background-color: #333;
  border: 1px solid #686363;
  padding: 0 3px;
  font-size: 12px;
  float: right;
}

.flystop{
  position:relative;
  right:-178px;
  width:35%;
  top:-36px;
}

.cameraclear{
  position:relative;
  right:-215px;
  top:-40px;
}

.observeState{
  position:relative;
  top:-40px;
  width:276px;
}

.pausefly{
  position:relative;
  margin-right: 22px;
  width:45%;
}

.cameraspin{
  position:relative;
  margin-right: 22px;
  width:45%;
}

.underground{
  position:relative;
  top:-40px;
  width:276px;
}
