/* clip cross */
.sm-solider-input-box {
  width: 100% !important;

}

@media (max-width: 750px) {
  .sm-solider-input-box {
    width: 100%;
  }
}

@media (max-height: 480px) {
  .sm-solider-input-box {
    width: 100%;
  }
}

/* terrain operation */
.mleft {
  margin-left: 10px;
  width: 115px;
}

/* analysis */
.sm-input-right,
.sm-input-long {
  width: 99% !important;
}

label {
  font-size: 12px;
}

.sm-function-module-sub-section-caption {
  margin-left: 0 !important;
}

.sm-function-module-sub-section {
  margin-bottom: 12px;
}

.sm-function-module-sub-section-setting {
  margin: 0;
}

/* addponit */
.symbolicLibrary .Thematicbox {
  width: 68px;
  height: 50px;
}

.symbolicLibrary .Thematicbox {
  margin: 0px 2% !important;
  /* margin-right: 5px; */
  overflow: hidden;
}

.sm-colorpicker {

  width: 100%;
  height: auto;
}

/* sceneAtibute */
.flexbox button {
  width: 60px;
  height: 20px;
  overflow: hidden;
  line-height: 19px;
  font-size: 12px;
}


.sm-viewshed-label-right {
  width: 100px;
}

.lodbox {
  width: 65%;
}

.boxchild {
  width: 100%;
  margin: 10px 0;
  padding: 0;

}

.tbtn {
  /* width: 50%; */
  margin-left: 0;
  margin: 0 5px;
}

.rollerLaber {
  width: 95px;
}

.spanBox {
  width: 30%;
}

.sm-half {
  width: 49%;
  display: inline-block;
}


.half_color{
    width: 55% !important;
}
