
.modal {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(38, 38, 38, .75);
}

.addLayer-panel {
  width: 670px;
  height: 472px;
  overflow: hidden;
  max-height: 500px;
  margin-top: 16vh;
  border: 1px solid #526f82;
  background-color: rgba(38, 38, 38, .75);

  @media (max-width: 750px) {
    width: 500px;
    height: 500px;
  }

  @media (max-width: 500px) {
    width: 400px;
  }

  @media (max-width: 380px) {
    width: 300px;
  }
}
.sm-panel-header{
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}



