
.sm-function-module-content {
  width: 95%;
  height: 65%;
  margin: 15px;
  box-sizing: border-box;
  padding: 16px 11px;
  background-color: rgb(23, 23, 23);
}



.sm-function-module-sub-section {
  box-sizing: border-box;
  height: 100%;
}


.label-container {
  display: block;
}

.sm-input {
  width: 100%;
  height: 3vh;
  margin-top: 1.6vh;
}




