.sm-panel {
    position: absolute;
    z-index: 99;
    right: 100px;
    top: 50px;
    display: inline-block;
    max-width: 340px;
    cursor: pointer;
}

.sm-input-long,
.sm-select,
.sm-colorpicker {
    width: 55%;
}
.layerscroll{
  margin: 0.5rem 1rem 1rem 1rem;
  padding: 5px 10px;
  background-color: rgba(23, 23, 23, 0.5);
  overflow-x:hidden;
  overflow-y:scroll;
  height:560px;
}
.LayerOperation .label-container {
    margin-left: 10px;
    
}
.layerscroll::-webkit-scrollbar {
  width: 7px;
  height:5px;
}

.layerscroll::-webkit-scrollbar-thumb {
  background-color:rgba(139, 158, 149, 0.55);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.minbox:hover {
    border: 1px solid rgb(58, 150, 78);
}

.polygon-symbol-font-selected {
    border: 1px solid rgb(58, 150, 78);
}

#Thematicmap .sm-input {
    padding: 0;
    margin: 0;
    width: 75%;
}

.layerwidth{
  width:77%;
}

.label2{
  display: inline;
  padding: 0.4em 6em .2em 6em;
  font-size: 110%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 1.1;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 0;
  height:23px;
}

.volume-select{
  display:-webkit-box;
  display:flex;
  flex-wrap: wrap;
  position:absolute;
  -webkit-box-pack:center;
  justify-content: center;
  width:50%;
  background-color:#2a2a2a;
  right:39px;
  z-index:1000;
  border:1px solid #3C8DBC;
}

.volumeLabel{
  display:inline;
  padding:0.4em 4em 0.01em 6em;
  font-size:15px;
  color:#fff;
  text-align:center;
  white-space:nowrap;
  vertical-align: baseline;
  border-radius:0.25em;
  line-height:1.1;
}

.ban{
  margin-bottom:3px;
}

.ban1{
  background:-webkit-linear-gradient(left,#95e8f9,#002794) !important;
}

.band2{
  background:-webkit-linear-gradient(left,#a2fbc2,#ff6767)!important;
}

.band3{
  background:-webkit-linear-gradient(left,#e6c6ff,#9d00ff)!important;
}

.band4{
  background:-webkit-linear-gradient(left,#0909d4,#00a1ff 20%,#14bb12 40%,#dde007 60%,#d20f0f)!important;
}

.band5{
 background: -webkit-linear-gradient(left,#baffe5,#1ab99c)!important;
}

.right{
  margin-right: 1px;
}
