.sm-panel{
  width: 306px;
  z-index: 99;
}
.sm-measure-btn-list {
  margin-top: 3px;
}

.sm-measure-btn {
  background: transparent;
}


.sm-measure-select {
  width: 70%
}

.sm-measure-half {
  margin-left: 2px;
  margin-top: 5px;
}

.third{
  margin-left:5px;
}
