

.sm-function-module-content {
  width: 95%;
  height: 84%;
  margin: 15px;
  box-sizing: border-box;
  padding: 16px 11px;
  background-color: rgb(23, 23, 23);
}

.sm-function-module-content::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.sm-function-module-sub-section {
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
}

.sm-function-module-sub-section::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.sm-viewshed-panel-header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.label-container {
  display: block;
}

.sm-select {
  float: left;
}

.token {
  display: inline-block;
  width: 50%;
  //text-align: center;
}

.sm-input {
  width: 100%;
  height: 3vh;
  margin-top: 1.6vh;
}

.sm-sceneList{
  width: 30%;
  height: 3vh;
  margin-top: 1.6vh;
}