
.baseLayer {
  position: absolute;
  z-index: 999;
  top:53px;
  left: 108px;
  background-color: rgba(24, 24, 24, 0.8);
  border:1px solid #526f82;
  @media (max-width: 500px) {
    left: 5px;
  }
  @media (max-height: 980px) {
    top:53px;
  }
  @media (max-height:700px) {
    top: 43px;
    left:82px;
  }
  @media (max-height: 250px) {
    top: 43px;
  }
}
.imageBaseLayer{
  margin-left:5px;
  margin-top:0px;
  margin-bottom:7px;
  margin-right:5px;
  overflow-y: scroll;
  box-sizing:border-box;
}

.imageBaseLayer::-webkit-scrollbar {
  width: 7px;
  height:5px;
}

.imageBaseLayer::-webkit-scrollbar-thumb {
  background-color:rgba(139, 158, 149, 0.55);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  max-height:145px;
  max-width: 480px;
  margin-top:5px;
  border-radius: 4px;
  .imageBox {
    position: relative;
    width: 150px;
    height: 140px;
    margin: 0 5px 5px 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgba(71, 119, 124, 0.4);
    min-width: 150px;
      img{
          width: 100%;
          padding: 4px;
      }
      .overlayImage{
        height: 108px;
        padding: 0px;
      }
      label{
        position: relative;
        top: 3px;
      }
      .overlayImage:hover{
        background-color: rgb(19, 206, 134);
      }

  }
}

.imgcross{
  position: absolute;
  right: 0;
  top: 0;
}

.image-panel-header{
  line-height:25px;
  font-size:13px;
  padding-left:18px;
  border-bottom:1px solid rgba(38,38,38,0.6)
}

.base-panel-header{
  padding-top:10px;
  padding-left:15px;
  line-height:40px;
  border-bottm:1px solid rgba(38,38,38,0.6)
}
