#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cesium-viewer-timelineContainer{
  position: absolute;
    bottom: 0;
    left: 169px;
    right: 29px;
    height: 27px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
}

.cesium-geocoder-searchButton {
  background-color: yellow;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  width: 42px;
  top: -6px;
  right: -5px;
  height: 42px;
  vertical-align: middle;
  fill: #edffff;
}





