// 全局样式
@import "font/iconfont.css";
@import "mixin.scss";
@import "naive-ui.scss";

html,
body,
#app
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
  background-color: #000000;
}

/* 禁用 */
.disable {
  pointer-events: none;
}

