
.sm-function-module-content{
  max-height: 528px;
}

.sm-input-long,
.sm-select ,
.sm-colorpicker{
  width: 55%;
}

.sm-solider-input-box{
  float: right;
  width: 72%;
}

.sm-function-module-sub-section{
  .sm-function-module-sub-section{
    margin-bottom: 0;
  }
}

.cloud{
  position: absolute;
  left: 20%;
  top: 28%;
}

.skyBox{
  position:absolute;
  left:46%;
  top:28%;
}

input[type="range"]{
  -webkit-appearance: none;
  width:73px;
  height:0px;
  border-radius:10px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  margin-top:-3px;
  height:10px;
  width:10px;
}
.inputBox{
  margin-bottom:15px;
}
input[type="range"]::-webkit-slider-runnable-track{
  height:1px;
}

input[type = text]{
  width:78px;
  height:28px;
  background: rgba(51,51,51,1);
  border:1px solid rgba(74,74,74,1);
  border-radius:4px;
  margin:0px;
  box-sizing:border-box;
}

.basicflexbox{
  display: -webkit-box;;
  -webkit-box-align:baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.labelbox{
  width: 70px;
  height: 12px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
  opacity: 0.8;
}


