/* 覆盖第三方库样式 */

.ivu-color-picker-color {
  width: 100%;
}
.ivu-color-picker-picker{
  overflow: auto;
}
.ivu-color-picker .ivu-select-dropdown {
  min-width: 265px;
}
.ivu-input {
  height: 25px;
  padding: 1px 6px;
  background-color: #333333; 
  border: 1px solid #686363;
  border-radius: 0;
}
.ivu-input:focus {border-color: #515a6e;}
// 图层管理
.ivu-select-dropdown {
  background-color: rgba(206, 204, 204, 0.9);
}
.ivu-tree-children .ivu-tree-title{
  color: white;
}
.ivu-tree-children .ivu-tree-title:hover{
  background-color: rgb(64, 89, 131);
}
.ivu-tree-children .ivu-tree-title-selected, .ivu-tree-title-selected:hover{
  background-color: rgb(64, 89, 131);
}