/* 覆盖第三方库样式 */

.ivu-color-picker-color {
  width: 100%;
}
.ivu-color-picker-picker {
  overflow: auto;
}
.ivu-color-picker .ivu-select-dropdown {
  min-width: 265px;
}
.ivu-input {
  height: 25px;
  padding: 1px 6px;
  background-color: #333333;
  border: 1px solid #686363;
  border-radius: 0;
}
.ivu-input:focus {border-color: #515a6e;}
// 图层管理
.ivu-select-dropdown {
  background-color: rgba(206, 204, 204, 0.9);
}
.ivu-tree-children .ivu-tree-title{
  color: white;
}
.ivu-tree-children .ivu-tree-title:hover{
  background-color: rgb(64, 89, 131);
}
.ivu-tree-children .ivu-tree-title-selected, .ivu-tree-title-selected:hover{
  background-color: rgb(64, 89, 131);
}


/* 修改iview插件的提示 字体颜色，防止被覆盖 */
.ivu-message {
  color: black;
}

// .ivu-message{
//   div{
//     div{
//       background-color: #242323;
//     }
//   }
// }


.cesium-viewer-toolbar {
  right: 17px;
}

.ivu-table {
  font-size: 12px;
}


//表头样式修改
.ivu-table-header th {
  color: #fff; //字体颜色
  font-weight: bold; //字体粗细
  background-color: #041A23; //背景颜色
  
  border: none; //边框有无
  border-bottom: 2px solid #062735; //边框粗细及样式颜色
}

//表格内部颜色修改
.ivu-table td {
  background-color: #041A23; //背景色
  color: #fff; //字体色
  border: none; //是否有边框
}

.ivu-table tr.ivu-table-row-hover td {
  background-color: green;
}