
.sm-function-module-content{
  max-height: 528px;
}

.sm-input-long,
.sm-select ,
.sm-colorpicker{
  width: 55%;
}

.sm-solider-input-box{
  float: right;
  width: 72%;
}

.sm-function-module-sub-section{
    margin-bottom: 5px;
}
label{
  margin-bottom: 2px;
}

.right{
  margin-right: 1px;
}

.particle{
  margin-bottom:12px;
}
