
.sm-input-long {
    width: 35%;
    @media (max-width: 750px) {
        width: 32%;
    }
}

.sm-function-module-SkyLine{
  margin:0;
  padding:0;
}

.SkyLine-half{
  width:50%;
  display: inline-block;
  float:left;
  margin-top:5px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  padding:0;
  border:none;
}
