@import "../../../common/scss/globe.scss";

.sm-backLineAnalysis-panel {
  @extend .sm-panel;
}

.sm-backLineAnalysis-toggle-btn {
  @extend .sm-toggle-btn;
}

.sm-backLineAnalysis-toggle-btn-only {
  @extend .sm-toggle-btn-only;
}

.sm-backLineAnalysis-content {
  @extend .sm-content;
}

.sm-backLineAnalysis-content-hidden {
  @extend .sm-content-hidden;
}

.sm-backLineAnalysis-panel-header {
  @extend .sm-panel-header;
}

.sm-row {
  margin: 15px 0;
  overflow: hidden;
}

.sm-backLineAnalysis-btn {
  @extend .sm-btn;
  padding: 2px 6px;
  margin: 10px 2px 0px 2px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: darkgrey;
  border: 1px solid #686363;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0px;
  background-color: rgba(38, 38, 38, 0.75);

}

.sm-backLineAnalysis-label-right {
  @extend .sm-function-module-sub-section-caption;
  margin-left: 10px;
}


.sm-backLineAnalysis-input {
  @extend .sm-input-right;
  float: none;
  width: 20%;
}

.sm-backLineAnalysis-select {
  @extend .sm-select;
  width: 40%
}
