

  .cesium-viewer-geocoderContainer .cesium-geocoder-input {
    border: 1px solid #2ec5ad;
    border-radius:5px;
    background-color: rgba(40, 40, 40, 0.7);
    color: white;
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 50px;
    margin: 0;
    padding: 0 32px 0 0;
    border-radius: 4px;
    box-sizing: border-box;
    transition: width ease-in-out 0.25s, background-color 0.2s ease-in-out;
    -webkit-appearance: none;
  }


@media screen and (max-height: 750px){
  .cesium-viewer-geocoderContainer .cesium-geocoder-input {
    border: none;
    background-color: rgba(40, 40, 40, 0.7);
    color: white;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0 32px 0 0;
    border-radius: 0;
    box-sizing: border-box;
    transition: width ease-in-out 0.25s, background-color 0.2s ease-in-out;
    -webkit-appearance: none;
  }
}

.cesium-viewer-geocoderContainer:hover .cesium-geocoder-input {
    /*border-color: #aef;*/
    /*box-shadow: 0 0 8px #fff;*/
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input:focus {
    /*border-color: #ea4;*/
    background-color: rgba(15, 15, 15, 0.9);
    box-shadow: none;
    outline: none;
}


  .cesium-viewer-geocoderContainer:hover .cesium-geocoder-input,
  .cesium-viewer-geocoderContainer .cesium-geocoder-input:focus,
  .cesium-viewer-geocoderContainer .cesium-geocoder-input-wide {
    border-radius:5px;
    padding-left: 4px;
    width: 270px;
    height:50px;
  }


@media screen and (max-height:750px){
  .cesium-viewer-geocoderContainer:hover .cesium-geocoder-input,
  .cesium-viewer-geocoderContainer .cesium-geocoder-input:focus,
  .cesium-viewer-geocoderContainer .cesium-geocoder-input-wide {
    padding-left: 4px;
    width: 200px;
    height:35px;
  }
}


.cesium-viewer-geocoderContainer .search-results {
    position: absolute;
    background-color: #000;
    color: #eee;
    overflow-y: auto;
    opacity: 0.8;
    width: 100%;
}

.cesium-viewer-geocoderContainer .search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cesium-viewer-geocoderContainer .search-results ul li {
    font-size: 14px;
    padding: 3px 10px;
}
.cesium-viewer-geocoderContainer .search-results ul li:hover {
    cursor: pointer;
}

.cesium-viewer-geocoderContainer .search-results ul li.active {
    background: #48b;
}


  .cesium-geocoder-searchButton {
    background-color: rgb(36,35,35);
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 50px;
    right: -2px;
    height: 50px;
    vertical-align: middle;
    fill: #edffff;
    border-radius: 3px;
  }


@media screen and (max-height:750px){
  .cesium-geocoder-searchButton {
    background-color: rgb(38,38,38);
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 39px;
    right: -2px;
    height: 35px;
    vertical-align: middle;
    fill: #edffff;
  }
}


.cesium-geocoder-searchButton:hover {
    fill:#2ec5ad;
    background-color: rgba(15, 15, 15, 0.9);
}



