
.sm-input-long{
  width: 50%;
}


.function-content{
  padding-top:5px;
  padding-bottom:5px;
  padding-right:15px;
  padding-left:15px;
  overflow:auto;
  max-height:528px;
  background-color:rgba(38,38,38,0.75);
  margin-bottom:8px;
}

.IsolineConent{
  margin-left:8px;
  margin-right:8px;
}

.right{
  margin-right:1px;
}
