/*-------bubble------------------*/
.bubble {
    /* text-align: center; */
    position: absolute;
    margin: 0;
    max-width: 330px;
    max-height: 200px;
    z-index: 100;
    border-radius:5px;
    background-color:rgba(50, 50, 50, 0.8);
    overflow-y: scroll;
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
  }
  .bubble::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
  }
  /* Border styles */
  #tab thead,
  #tab tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
  }
  
  /* Padding and font style */
  #tab td,
  #tab th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
    border: 1px solid rgb(193, 168, 223);
  }
  
  /* Alternating background colors */
  #tab tr:nth-child(even) {
    background: rgb(223, 216, 232)
  }
  
  #tab tr:nth-child(odd) {
    background: #FFF
  }
  
  
  .params-setting-container {
    position: absolute;
    color: #ffffff;
    z-index: 1000;
    right: 10px;
    bottom: 10px;
    background-color: rgba(71, 76, 69, 0.4);
  }
  
  .yq-info-item {
    display: inline-block;
    padding: 7px;
  }
  
  .yq-info-item>div {
    margin-bottom: 6px;
  }
  
  #yq-info {
    top: 0;
    padding: 1rem;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    z-index: 1;
  }
  
  #yq-info-title {
    font-size: 36px;
  }
  
  @media screen and (max-width: 414px) {
  
    /* 大部分手机 */
    #yq-info {
      top: 31px;
    }
  
    #yq-info-title {
      font-size: 23px;
    }
    #legend {
      height: 7.2rem;
      border-radius: 0.25rem;
    }
  
    #legend div {
      height: 0.7rem !important;
      margin-top: 0.2rem !important;
    }
  
    #legend div div {
      width: 0.6rem !important;
      height: 0.6rem !important;
    }
  
    #legend div span {
      font-size: 0.6rem !important;
    }
  }
  .goOutBtn{
   text-align: center;
   border:none;
   position: absolute;
   width:20px;
   height:20px;
   color:#ffffff;
   top: 20px;
   background-color: transparent;
   font-size: 18px;
   margin-left:150px;
   margin-top:-20px;
  }
  .hidden{
    @media (max-width: 750px) {
     display: none;
    }
  }
