@import './scss/sm-variables.scss';
@import './scss/sm-mixin.scss';

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.n-config-provider {
  height: 100%;
}

.n-layout.n-layout--static-positioned {
  height: 100%;
}

// 横向布局:class = "row-item"
.row-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.11rem;
  // font-size: 14px; // number-input的罪魁祸首
  font-size: 0.14rem;

  span,
  div {
    font-size: 0.14rem;
  }

  .check-color-pick {
    width: 1.96rem;
    height: 0.33rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .color-pick-box {
      margin-left: 0.1rem;
    }
  }

  .check-box {
    width: 1.96rem;
    height: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slider-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1.76rem;
    height: 0.32rem;
    padding: 0 .1rem;
    border-radius: 0.04rem;
    background: rgba(255, 255, 255, 0.04);
    // box-sizing: border-box;
    border: 0.01rem solid rgba(255, 255, 255, 0.15);

    .slider-unit {
      margin-left: 0.1rem;
    }
  }

  .radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1.96rem;
    height: 0.32rem;
  }

  .row-slider-num {
    width: .3rem;
    display: flex;
    justify-content: space-between;
  }

  .row-content {
    width: 1.96rem;
    height: 0.33rem;
  }
}

// slinder滑块的统一样式
.slider-input-number {
  width: 27%;
  margin: 0rem -0.1rem 0rem 0.08rem;
  border: none !important;
  height: auto;
  outline: medium;
  text-align: center;
}

.slider-input-number .n-input {
  background-color: transparent !important;
}

//操作按钮样式:2个
.btn-row-item {
  margin-left: 1.15rem;

  .ans-btn {
    margin-right: .08rem;
  }
}

//操作按钮样式:3个
.btn-row-item2 {
  display: flex;
  justify-content: right;

  button {
    display: block;
  }
}

// 操作按钮-第二个按钮（清除）样式
.btn-secondary {
  :hover {
    color: #5EB7F2 !important;
  }
}

// 设置数字输入框
.n-input-number {
  border: 0.01rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.04rem;
}

.n-input-border {
  border: 0.01rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.04rem;
}

.add-input-border {
  border: 0.01rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.04rem;
}

// 颜色选择器（色带）的相关样式
.color-pick-box {
  width: 1.96rem;
  height: 0.33rem;
  border-radius: 0.04rem;
  background: rgba(255, 255, 255, 0.04);
  box-sizing: border-box;
  border: 0.01rem solid rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  padding: 0 0.12rem;
  margin-left: .38rem;
}

.n-color-picker-trigger__fill {
  // 色带的固定尺寸
  // height: 0.08rem;
  height: 0.08rem;
  top: 0.1rem !important;
  bottom: 0.1rem !important;
}

.color-pick-box-full {
  width: 1.96rem;
}

// 面板上图标的排列样式等
.icon-list {
  display: flex;
  width: 1.96rem;
  height: 0.32rem;
  line-height: 0.32rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.04);
  border: 0.01rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.04rem;

  .icon-span {
    width: 33%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  .selected-icon {
    color: #3499e5;
  }
}

// 小品绘制线面的大量图标的排列样式
.icon-list-space {
  width: 2.2rem;
  height: auto;
  background: rgba(255, 255, 255, 0.04);
  border: 0.01rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.04rem;

  .icon-span {
    width: 33%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  .icon-span-four {
    width: 25%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  .icon-span-six {
    width: 22%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  .selected-icon {
    color: #3499e5;
  }
}

// 界面上引用图标的大小-基于font-size
.iconfont {
  font-size: 0.18rem;
}

// 单独控制一些特殊的图标
.iconSize {
  display: block;
  margin: 0.02rem;
  font-size: 0.2rem;
}

:deep(.n-scrollbar-rail--vertical) {
  right: 0rem !important;
  width: 0.08rem !important;
}

// 保存面板 按钮居中
.n-form-item-blank {
  display: flex;
  justify-content: center;
}

// 面板上选项tab-items的颜色
.n-tabs-tab__label {
  color: rgba(255, 255, 255, 0.65);
}

//slider样式
.n-slider-handle {
  background-color: #414141 !important;
  border: 1.5px solid #3499E5 !important;
}

//图层面板小三角
.n-tree-node-switcher {
  margin-left: 0.06rem;
}

.n-tabs-tab--active {
  .n-tabs-tab__label {
    color: rgba(255, 255, 255, 0.85);
  }
}

// 时间控件样式
.supermap3d-viewer-timelineContainer {
  visibility: visible;
  width: 100%;
  left: 0rem;
  right: 0rem;
}

.n-tree-node-content__suffix>div {
  display: flex;
  flex-wrap: nowrap;
}

// 添加数据面板
.addData-data-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0.07rem;

  .ItemBox {
    width: 30%;
    // color: $--SM--FontColor-Sub;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 0.07rem;
    margin-right: 0.12rem;
    box-sizing: border-box;
    cursor: pointer;

    span {
      font-size: 0.14rem;
    }

    .img-box {
      width: 1.06rem;
      height: 0.85rem;
      border-radius: 0.05rem;
      overflow: hidden;
      margin-bottom: 0.04rem;

      .img {
        width: 100%;
        height: 100%;
        // object-fit: none;
        object-fit: cover; // 图片不被挤压
      }
    }
  }

  .ItemBox:nth-child(3n) {
    margin-right: 0;
  }

  .isSelect {
    .img-box {
      border: 0.02rem solid #3499e5;
    }
  }
}

// 地形操作飞行等切换btn的样式
.btn-list {
  width: 2.4rem;
  display: flex;
  cursor: pointer;
  font-size: 0.14rem;

  .btn {
    width: 25%;
    height: 0.26rem;
    line-height: 0.26rem;
    text-align: center;
  }

  .select-btn {
    border-radius: 0.02rem;
    color: #3499e5;
    background: rgba(255, 255, 255, 0.15);
  }
}

// 图层列表侧边栏-面板
.layerSeries-box {
  width: 100%;
  height: 100%;
  padding: 0 0.16rem;
  box-sizing: border-box;
}

// 符号库等不让他们居中的
.no-center {
  align-items: start !important;
}