/** 使用:deep强制修改第三方组件库样式 */
// 右侧面板左右间距
.right-panel-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0.05rem;
}

.right-panel-container :deep(.n-tabs-tab-wrapper) {
    margin-right: 0.12rem;
}

.right-panel-container :deep(.n-tabs-nav) {
    padding: 0 0.12rem;
}

.right-panel-container :deep(.n-tab-pane) {
    box-sizing: border-box;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
}

// 控制NaiveUI滚动条
:deep(.n-scrollbar-rail--vertical) {
    right: 0rem !important;
    width: 0.08rem !important;
}