
.label-right {
  margin-left: 20px;
}

.Profile3D-half{
  width:50%;
  display: inline-block;
  float:left;
  margin-top:5px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  padding:0;
  border:none;
}

.sm-function-module-Profile3D{
  margin:0;
  padding:0;
}

